body {
  font-family: "Segoe UI", Tahoma, Helvetica, "Sans-Serif";
  overflow: hidden;
  font-size: 15px;
  background-color: white;
  margin: 0;
}
button {
  border-style: none;
  width: 100px;
  height: 25px;
  background-color: #606C88;
  color: white;
  border-radius: 3px;
}
button:hover {
  background-color: #4B546A;
}
.td1 {
  width: 400px;
}
.description {
  font-size: 90%;
  display: block;
  padding-left: 10px;
  color: gray;
}
.container {
  width: 800px;
  margin: 0 auto;
}
.title {
  font-size: 140%;
  background-image: url(../notification.png);
  background-repeat: no-repeat;
  padding-left: 50px;
  margin-bottom: 10px;
}
.title span {
  line-height: 52px;
}
